@charset "utf-8";
@import "compass/reset";
$width:100%;
$height:33px;
#top {
    width: $width;
    height: $height;
    border-bottom: 1px solid #ccc;
}

.top_1 {
    width: 1690px;
    height: 100%;
    margin: 0 auto;
}

.top_1 ul {
    float: right;
}

.top_1 ul li {
    float: left;
    line-height: 33px;
    margin-left: 20px;
    font-size: 15px;
}

.top_1 a {
    text-decoration: none;
    color: #999999;
}